#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App .Auth .login {
  display: flex;
  justify-content: center;
}

.App .Auth .logout {
  display: flex;
  justify-content: right;
}
