#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App .Auth .login {
  display: flex;
  justify-content: center;
}

.App .Auth .logout {
  display: flex;
  justify-content: right;
}

.App .main_menu {
  display: flex;
  justify-content: right;
}

.App .daily_activity_tracker {
  margin: 20px 0px;
}
